--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch==2.4.1
torchvision==0.19.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==10.4.0
easyocr==1.7.2
reportlab==5.0.1
